h1 a {
    color: #A055B5;
    font-family: 'Yanone Kaffeesatz';
}

 body {
    padding-left: 15px;
}

.page-header {
    background-color: #A242C2;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 38pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h3, h4 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #ffffff;
    font-size: 12pt;
    margin-left: -15px;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.search {
  width: 300px;
  height: 45px;
  margin-left: 1010px;
}

.search-form {
  width: 300px;
  height: 38px;
  border: 1px solid #000000;
  padding-left: 10px;
}

.post {
    margin-bottom: 25px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
